<style>
  .price_level {
    --size: {{ include.size | default: 20px }};
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 5px;
    .dollar_icons {
      display: flex;
      height: var(--size);
      .icon {
        height: var(--size);
      }
    };
  }
  .rating-text {
    font-size: calc(var(--s) * 0.8);
    line-height: 1;
  }
</style>
<div class="price_level">
  {%- if include.level -%}
    <div class="dollar_icons">
      {%- for i in (1..5) -%}
        {% if i <= include.level %}
          {% assign color = 'limegreen' %}
        {% else %}
          {% assign color = 'grey' %}
        {% endif %}
        <span style="fill: {{color}};">{%- include icons/dollar_icon.svg -%}</span>
      {%- endfor -%}
    </div>
  {%- endif -%}
  {%- if include.range -%}
    <span class="rating-text">{{ include.range }}</span>
  {% endif %}
  {%- if include.level == null and include.range == null -%}
    <span>Price Unknown</span>
  {%- endif -%}
</div>
