<style>
  #search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0 auto 20px;
    width: 314px;
  }
  #search-form * {
    height: 32px;
    border-radius: 0;
  }
  #search-form input[type='text'],
  #search-form input[type='email'],
  #search-form textarea {
    width: 30%;
    padding: 0.5em;
    border: 1px solid #ddd;
    font-size: 1em;
    box-sizing: border-box;
  }
  #search-form input[type='text'] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 234px;
  }
  #search-form .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 80px;
  }
  #search-form .btn {
    padding: 0 1rem;
  }
</style>
<form
  id="search-form"
  action="/search"
  method="get">
  <input
    type="text"
    id="search-box"
    name="query">
  <input
    class="btn"
    type="submit"
    value="search">
</form>