/**
 * Site header
 */
$header-height: $spacing-unit * 1.865;

/**
 * Page content
 */
#cookie-notice {
  padding: 0.5rem 1rem;
  text-align: center;
  position: absolute;
  top: $header-height;
  width: calc(100% - 2rem);
  height: $header-height;
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  display: none;
  align-items: center;

  a {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
  }

  @media (max-width: 767px) {
    span {
      display: block;
      padding-top: 3px;
      margin-bottom: 1rem;
    }

    a {
      position: relative;
      bottom: 4px;
    }
  }
}

/**
 * Page content
 */
#us-map {
  $scale: 1.3;
  $origin: 50% 50%;
  $transition: transform 0.3s linear;
  .state {
    position: relative;
    color: $brand-color-blue;
    text-decoration: none;
    -webkit-transform: scale(1);
    -webkit-transform-origin: $origin;
    -webkit-transition: $transition;
    transform: scale(1);
    transform-origin: $origin;
    transition: $transition;
    transform-box: fill-box;
    &:hover {
      color: $brand-color-blue-dark;
    }
    &.isDisabled {
      color: $grey-color;
      cursor: not-allowed;
      pointer-events: none;
    }
    &.zoom {
      color: $brand-color-blue-dark;
      -webkit-transform: scale($scale);
      -webkit-transform-origin: $origin;
      -webkit-transition: $transition;
      transform: scale($scale);
      transform-origin: $origin;
      transition: $transition;
    }
  }
}

/**
 * Page Layout
 */
.page .place-page {
  display: flex;
  flex-direction: column;
  &:not(.place-page) {
    gap: calc($base-gap * 4);
  }

  .page-heading {
    @include relative-font-size(1.5);
    margin-bottom: 0;
    @include media-query($on-tablet) {
      @include relative-font-size(2);
    }
    .page-sub-heading {
      font-weight: 400;
    }
  }

  .citation {
    text-align: right;
    color: $grey-color;
    @include relative-font-size(0.8);
    width: 66%;
    margin-left: auto;
    padding-right: $base-gap;
    &::before {
      content: '\2014';
    }
  }

  .rating-cost {
    margin-top: $base-gap * 2;
    padding: $base-gap ($base-gap * 3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: $base-gap;
    .page-sub-heading {
      margin: 0;
    }
    .rating,
    .cost {
      display: flex;
      align-items: center;
      gap: $base-gap;
      @include relative-font-size(1.125);
      line-height: 1;
    }
  }

  .collapsable {
    min-height: 48px;
    padding: $base-gap ($base-gap * 3);
    border: 1px solid $grey-color-light;
    border-radius: $base-gap;
    @include hex-to-rgba-box-shadow(3px, $grey-color, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:nth-child(-n + 1 of .collapsable) {
      margin-top: $base-gap * 2;
    }
    .lbl-toggle {
      $arrow-size: 7px;
      text-align: left;
      padding: $base-gap;
      cursor: pointer;
      transition: all 0.25s ease-out;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: $base-gap;
      &::after {
        content: ' ';
        display: inline-block;
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-right: $arrow-size solid currentColor;
        margin-right: 0.7rem;
        transition: transform 0.25s ease-out;
      }
      .page-sub-heading {
        flex-grow: 1;
        display: inline-block;
        margin: 0;
      }
    }
    .content {
      max-height: 0px;
      padding-left: $base-gap * 2;
      overflow: hidden;
      transition: max-height 0.25s ease-in-out;
      margin: 0;
      color: $grey-color;
      font-style: italic;
      & *:not(a, .amenities) {
        color: $grey-color;
      }
    }
    &.expand {
      .content {
        max-height: 100vh;
      }
      .lbl-toggle::after {
        transform: rotate(-90deg);
      }
    }
  }

  @include media-query($on-tablet) {
    .collapsable {
      min-height: 100 vh;
      border: none;
      box-shadow: none;
      margin-top: $base-gap * 3;
      .lbl-toggle::after {
        display: none;
      }
      .content {
        max-height: none;
      }
    }
  }

  .website {
    display: flex;
    align-items: center;
    gap: $base-gap;
    line-height: 1;
  }

  .summary {
    margin-top: $base-gap;
  }

  .maps-links {
    display: flex;
    align-items: center;
    gap: $base-gap;
    svg {
      height: $base-font-size;
    }
    a:nth-of-type(1) {
      margin-right: calc($base-gap * 2);
    }
  }

  .opening-hours {
    table {
      width: 320px;
      margin: 0;
      tr {
        td {
          padding: $base-gap * 0.25;
        }
      }
    }
  }

  .options {
    display: flex;
    gap: calc($base-gap * 2);
    margin-left: calc(16px + $base-gap);
    .option {
      display: flex;
      align-items: center;
      gap: $base-gap;
    }
  }

  .amenities {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
      'hd'
      'col1'
      'col2';
    gap: $base-gap; /* Space between the true and false columns */
    @include media-query($on-tablet) {
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      grid-template-areas:
        'hd   hd'
        'col1 col2';
    }
    h3 {
      grid-area: hd;
      margin: 0;
    }
    .true-column,
    .false-column {
      display: flex;
      flex-direction: column;
      gap: $base-gap; /* Space between items in each column */
      width: fit-content; /* Adjust width as needed */
      .bool-option {
        display: flex;
        align-items: center;
        gap: $base-gap; /* Space between icon and text */
        &.true {
          grid-area: col1;
          color: green;
        }
        &.false {
          grid-area: col2;
          color: red;
          text-decoration: line-through;
        }
      }
    }
  }
}

/**
 * Contact Page content
 */
.contact-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #111;
  }
  p {
    margin-bottom: 1em;
  }
}

.form-group {
  margin-bottom: 1em;

  label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    font-size: 1em;
    font-family: monospace;
    width: 30%;
    min-width: 250px;
    padding: 0.5em;
    background-color: $brand-color-blue-light;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
  }
}

.btn,
button {
  &:hover {
    background-color: $brand-color-blue-dark;
  }

  &.btn-secondary {
    background-color: $brand-color-green;
    &:hover {
      background-color: $brand-color-green-dark;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-mobile) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
