/**
 * Site header
 */
$header-height: $spacing-unit * 1.865;

/**
 * Page content
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $header-height;
  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    display: flex;
    align-items: center;
    gap: $base-gap;

    .logo {
      width: 48px;
      height: auto;
    }

    .site-title {
      @include relative-font-size(1.625);
      font-weight: 300;
      line-height: $base-line-height * $base-font-size * 2.25;
      letter-spacing: -1px;
      margin-bottom: 0;

      &,
      &:visited {
        color: $grey-color-dark;
      }
    }

    .site-nav {
      flex: 1 0 auto;
      text-align: right;
      line-height: $base-line-height * $base-font-size * 2.25;

      .nav-trigger {
        display: none;
      }

      .menu-icon {
        display: none;
      }

      .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      @include media-query($on-mobile) {
        position: absolute;
        top: 9px;
        right: $spacing-unit * 0.5;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        label[for='nav-trigger'] {
          display: block;
          float: right;
          width: 36px;
          height: 36px;
          z-index: 2;
          cursor: pointer;
        }

        .menu-icon {
          display: block;
          float: right;
          width: 36px;
          height: 26px;
          line-height: 0;
          padding-top: 10px;
          text-align: center;

          > svg {
            fill: $grey-color-dark;
          }
        }

        input ~ .trigger {
          clear: both;
          display: none;
        }

        input:checked ~ .trigger {
          display: block;
          padding-bottom: 5px;
        }

        .page-link {
          display: block;
          margin-left: 20px;
          padding: 5px 10px;

          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

/**
 * Page content
 */
#cookie-notice {
  padding: 0.5rem 1rem;
  text-align: center;
  position: absolute;
  top: $header-height;
  width: calc(100% - 2rem);
  height: $header-height;
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  display: none;
  align-items: center;

  a {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
  }

  @media (max-width: 767px) {
    span {
      display: block;
      padding-top: 3px;
      margin-bottom: 1rem;
    }

    a {
      position: relative;
      bottom: 4px;
    }
  }
}

/**
 * Page content
 */
#us-map {
  $scale: 1.3;
  $origin: 50% 50%;
  $transition: transform 0.3s linear;
  .state {
    position: relative;
    color: $brand-color-blue;
    text-decoration: none;
    -webkit-transform: scale(1);
    -webkit-transform-origin: $origin;
    -webkit-transition: $transition;
    transform: scale(1);
    transform-origin: $origin;
    transition: $transition;
    transform-box: fill-box;
    &:hover {
      color: $brand-color-blue-dark;
    }
    &.isDisabled {
      color: $grey-color;
      cursor: not-allowed;
      pointer-events: none;
    }
    &.zoom {
      color: $brand-color-blue-dark;
      -webkit-transform: scale($scale);
      -webkit-transform-origin: $origin;
      -webkit-transition: $transition;
      transform: scale($scale);
      transform-origin: $origin;
      transition: $transition;
    }
  }
}

/**
 * Page Layout
 */
.page {
  margin-bottom: $spacing-unit;
  flex: 1;
  .page-heading {
    text-align: center;
    margin-bottom: $spacing-unit;

    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }

    @include media-query($on-mobile) {
      @include relative-font-size(1.75);
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  .page-list-heading {
    text-align: center;
    // @include relative-font-size(1.25);
  }

  .page-list {
    margin-left: 0;
    list-style: none;
    line-height: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: calc($base-gap * 2);

    li {
      min-width: fit-content;
      // text-wrap: nowrap;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        display: flex;
        align-items: center;
        gap: $base-gap;

        svg {
          width: 16px;
          height: 16px;
        }
      }
      .location {
      }
      .link-info {
        margin-left: calc(16px + $base-gap);
      }
    }
    &.city-page-list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: calc($base-gap * 4);

      li {
        flex-direction: column;
        gap: calc($base-gap / 2);

        .rating {
          margin-left: 16px;
        }
        a {
          text-wrap: wrap;
        }
      }
    }
  }

  .page-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }

  .page-link {
    display: block;
    @include relative-font-size(1.5);
  }

  .map-page {
    .directions-text {
      text-align: center;
      &:nth-child(3) {
        margin-top: calc($base-gap * 3);
        margin-bottom: $base-gap;
      }
    }
  }

  .place-page {
    .price-rating {
      display: flex;
      align-items: center;
      gap: calc($base-gap * 2);
    }

    .maps-links {
      display: flex;
      align-items: center;
      gap: $base-gap;
      svg {
        height: $base-font-size;
      }
      a:nth-of-type(1) {
        margin-right: calc($base-gap * 2);
      }
    }
  }
}

@include media-query($on-mobile) {
  .page-list {
    @include relative-font-size(1);
  }
}

/**
 * Contact Page content
 */
.contact-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #111;
  }
  p {
    margin-bottom: 1em;
  }
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
textarea {
  width: 30%;
  padding: 0.5em;
  background-color: $brand-color-blue-light;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
}

.btn,
button {
  background-color: $brand-color-blue;
  color: white;
  max-height: 48px;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  text-wrap: nowrap;
  cursor: pointer;
  &:hover {
    background-color: $brand-color-blue-dark;
  }

  &.btn-secondary {
    background-color: $brand-color-green;
    &:hover {
      background-color: $brand-color-green-dark;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-mobile) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
