---
layout: page
---
<div class="city-content">
  <ul class="page-list city-page-list">
    {% assign cityPlaces = site.places | where: "city", page.cityName | sort_natural %}
    {% for place in cityPlaces %}
      {% assign place = place | jsonify %}
      <li>
        <span class="link">
          {% include icons/sushi_icon.svg %}
          <a href="{{- place.url -}}">{{ place.name }}</a>
        </span>
        <span class="price-rating">
          {% assign r = place.rating | times: 1 %}
          {% assign rc = place.rating_count | times: 1 %}
          {% include star_rating.html rating=r count=rc size="20px" %}
        </span>
      </li>
    {% endfor %}
  </ul>
</div>