---
layout: page
---
<div class="map-page">
  {%- include us-map.svg -%}
  <span class="directions" class="directions-text">Click on a state above...</span>
  <span class="directions" class="directions-text">Search for a specific place...</span>
  {%- include search-form.html -%}
  {%- unless page.place_id -%}
    <span class="directions" class="directions-text">or Choose from the list below...</span>
  {%- endunless -%}
  {{ content }}
</div>
<script>
  if (typeof globalThis.stateSlugs === "undefined"){
    Object.defineProperty(globalThis,"stateSlugs", {
      value: [],
      enumerable:false,
      configurable:true,
      writable:true
    })
  }
  globalThis.stateSlugs = [
    {%- for state in site.states -%}
      "{{ state.slug }}"{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
</script>
<script src="{{ "/assets/scripts/usMap.min.js" | relative_url }}"></script>
