---
layout: map-page
---
<div class="place-page">
  {%- assign place = page -%}

  <div class="price-rating">
    {% include star_rating.html rating=place.rating count=place.rating_count size="20px" %}
    {% assign level = site.data.price_level[place.price_level] | default: "" %}
    {% include price_level.html level=level range=place.price_range size="20px" %}
  </div>

  <address>
    <span>{{ place.neighborhood }}</span><br>
    <span>{{ place.street }}</span><br>
    <span>{{ place.city }}, {{ place.state }} {{ place.zip }}</span><br>
    <span>
      <a href="tel:{{- place.phone -}}">{{ place.phone }}</a>
    </span><br>
  </address>

  <div class="maps-links">
    {% include icons/direction_icon.svg %}
    {%- assign directions_link = place.google_maps_links.directionsUri | default: "#" -%}
    <a href="{{ directions_link }}" target="_blank">
      Directions
    </a>
    {% include icons/location-dot_icon.svg %}
    {%- assign maps_link = place.google_maps_links.placeUri | default: "#" -%}
    <a href="{{ maps_link }}" target="_blank">
      Map
    </a>
  </div>
</div>